@charset "utf-8";
/**************************************************
 * MKOnlinePlayer v2.3
 * 播放器样式表文件
 * 编写：mengkun(http://mkblog.cn)
 * 时间：2017-9-9
 *************************************************/
blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, html, input, lengend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0
}
body, button, input, select, textarea, th {
    color: #333;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.5;
    font-family: poppin, 'PingFang SC', Tahoma, Arial, \5FAE\8F6F\96C5\9ED1, sans-serif;
    font-family: Tahoma, Arial, \5FAE\8F6F\96C5\9ED1, sans-serif/9
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%
}
li {
    list-style: none
}
img {
    border: 0 none;
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality
}
input[type=button], input[type=submit] {
    cursor: pointer
}
button {
    cursor: pointer
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
a {
    color: #333;
    text-decoration: none
}
a:hover {
    color: #31c27c;
    text-decoration: none
}
a:focus, button:focus, input:focus {
    outline: 0
}
.text-center {text-align: center;}
.clear-fix {zoom: 1;}
.clear-fix:before, .clear-fix:after {display: table;line-height: 0;content: "";}
.clear-fix:after {clear: both; }
.hidden {display: none !important;}
/*滚动条美化*/
.mCSB_container::-webkit-scrollbar{width:0;height:0}
#lyric::-webkit-scrollbar{width:0;height:0}

html,body{
    height: 100%;
    width: 100%;
    background-color: #777970;
    overflow: hidden;
}
body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ba43a8+0,ea4fce+62,537bad+100&amp;0.38+0,0.17+61,0.8+100 */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYmE0M2E4IiBzdG9wLW9wYWNpdHk9IjAuMzgiLz4KICAgIDxzdG9wIG9mZnNldD0iNjElIiBzdG9wLWNvbG9yPSIjZTk0ZmNkIiBzdG9wLW9wYWNpdHk9IjAuMTciLz4KICAgIDxzdG9wIG9mZnNldD0iNjIlIiBzdG9wLWNvbG9yPSIjZWE0ZmNlIiBzdG9wLW9wYWNpdHk9IjAuMTkiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzUzN2JhZCIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(-45deg,  rgba(186,67,168,0.38) 0%, rgba(233,79,205,0.17) 61%, rgba(234,79,206,0.19) 62%, rgba(83,123,173,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(186,67,168,0.38)), color-stop(61%,rgba(233,79,205,0.17)), color-stop(62%,rgba(234,79,206,0.19)), color-stop(100%,rgba(83,123,173,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(186,67,168,0.38) 0%,rgba(233,79,205,0.17) 61%,rgba(234,79,206,0.19) 62%,rgba(83,123,173,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(186,67,168,0.38) 0%,rgba(233,79,205,0.17) 61%,rgba(234,79,206,0.19) 62%,rgba(83,123,173,0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(186,67,168,0.38) 0%,rgba(233,79,205,0.17) 61%,rgba(234,79,206,0.19) 62%,rgba(83,123,173,0.8) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(186,67,168,0.38) 0%,rgba(233,79,205,0.17) 61%,rgba(234,79,206,0.19) 62%,rgba(83,123,173,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61ba43a8', endColorstr='#cc537bad',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

    overflow: hidden;
}
/* 模糊图像层 */
#blur-img {
    position: fixed;
    height: 100%;
    left: -10%;
    width: 120%;
    overflow: hidden;
}
/* 移动端使用的模糊图像层 */
#mobile-blur {
    -webkit-filter: blur(50px);
    filter: blur(50px);
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-size: cover;
    background-position: bottom center;
}
/* 图像遮罩层 */
.blur-mask {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=30); 
    -moz-opacity:0.3; 
    opacity:0.3;
    top: 0;
    left: 0;
    overflow: hidden;
}

.mobile-mask {
    filter:alpha(opacity=60); 
    -moz-opacity:0.6; 
    opacity:0.6;
}

#mkplayer{
    display: none;
}
.header {
    height: 50px;
    position: absolute;
}
.logo {
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    display: inline-block;
    font-size: 23px;
    color: #829194;
    cursor: pointer;
    margin: 10px 20px;
}
.logo:hover {
    color: #fff;
}

/* 宽度约束容器 */
.container{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* 中部主要容器 */
.center{
    position: absolute;
    width: 100%;
    top: 50px;
    bottom: 100px;
}

/* 顶部按钮条 */
.btn-bar {
    position: absolute;
    display: inline-block;
    left: 0;
    right: 400px;
    height: 55px;
}


/* 顶部按钮区域 */
.btn-box {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
/* 常规按钮 */
.btn {
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    display: inline-block;
    position: relative;
    border-radius: 2px;
    border: 1px solid #fff;
    border: 1px solid rgba(150,150,150,.5);
    color: #fff;
    opacity: .8;
    filter: alpha(opacity=80);
    cursor: pointer;
    font-size: 14px;
    padding: 6px 25px;
    margin: 0 2px;
}
.btn:hover {
    border: 1px solid #fff;
    opacity: 1;
    filter: alpha(opacity=100);
}
.btn[data-action='player'] {
    display: none;
}

/* 搜索工具样式 */
#search-area {
    padding: 25px 15px;
}
.search-group {
    font-size: 0;
    padding-bottom: 10px;
}
.search-group>input, .search-group>button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.search-group>input {
    padding: 5px;
    border: 1px solid #a7a1a1;
    height: 35px;
    width: 80%;
}
.search-group>button {
    border: 1px solid #a7a1a1;
    background-color: #eee;
    height: 35px;
    margin-left: -1px;
    width: 20%;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
}
.radio-group>label {
    margin-right: 10px;
    cursor: pointer;
}
.radio-group>label>input {
    vertical-align: -2px;
}

/* 左侧主体数据区 */
.data-area {
    position: absolute;
    left: 0;
    right: 400px;
    top: 60px;
    bottom: 0;
    overflow: hidden;
}

/* 数据区域容器 */
.data-box {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    overflow-y: auto;
}

/*以下是播放列表 css 样式*/
/* 列表头 */
.list-head {
    height: 40px;
}

/* 一项数据 */
.list-item {
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #bdbdbe;
    color: rgba(225,225,225,.8);
    font-size: 14px;
    overflow: hidden;
    border-bottom: 1px solid rgba(150,150,150,.1);
    cursor: default;
    position: relative;
}

/* 正在播放的那项 */
.list-playing {
    color: #fff;
}

/* 列表数字 */
.list-num {
    display: block;
    width: 30px;
    text-align: center;
    float: left;
    overflow: hidden;
}
/* 正在播放的那项数字 */
.list-playing .list-num {
    background: url("../images/wave.gif") 10px 20px no-repeat;
    text-indent: -99px;
}

/* 音乐名字 */
.music-name {
    position: relative;
    display: block;
    width: auto;
    margin-left: 40px;
    margin-right: 300px;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none; /*禁止双击选定*/
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
/* 鼠标滑过时音乐名字被截断 */
.music-name-cult {
    display: block;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-item:hover .music-name-cult {
    padding-right: 150px;
}
.list-playing:hover .music-name-cult {
    padding-right: 100px;
}
/* 作者名称与音乐专辑 */
.auth-name,.music-album {
    position: relative;
    display: block;
    width: 150px;
    float: right;
    height: 100%;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* 移动端的菜单图标 */
.list-mobile-menu {
    display: none;
}

/*列表中滑动出现的菜单*/
.list-menu {
    position: absolute;
    right: 10px;
    top: 50%;
    overflow: hidden;
    font-size: 0;
    height: 36px;
    margin-top: -18px;
    float: right;
    display: none;
}
.list-item:hover .list-menu {
    display: block;
}
.list-head:hover .list-menu {
    display: none;
}

/* 列表中滑动出现的小图标 */
.list-icon {
    display: block;
    width: 36px;
    height: 36px;
    background-image: url("../images/icon_list_menu.png");
    float: left;
    margin-left: 10px;
    cursor: pointer;
}
.list-playing .icon-play{
    display: none;
}
.icon-play {
    background-position: -80px 0;
}
.icon-play:hover {
    background-position: -120px 0;
}
.icon-download {
    background-position: -80px -120px;
}
.icon-download:hover {
    background-position: -120px -120px;
}
.icon-share {
    background-position: -80px -40px;
}
.icon-share:hover {
    background-position: -120px -40px;
}

/* 分享弹窗中的链接框 */
.share-url {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 30px;
    box-sizing: border-box;
    padding: 0 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px rgba(0,0,0,.1) inset;
    color: #333;
    height: 35px;
}
.share-tips {
    font-size: 12px;
    color: #a9a9a9;
}

/* 列表中可以被点击的横条 */
.list-clickable {
    cursor: pointer;
}

/* 以下是歌单 css 样式 */
/* 歌单中的一项 */
.sheet-item {
    position: relative;
    display: block;
    width: 25%;
    float: left;
    text-align: center;
}
/* 歌单封面 */
.sheet-cover {
    display: block;
    width: 100px;
    height: 100px;
    margin: 10px auto;
    cursor: pointer;
}
/* 正在播放的列表  */
.sheet-playing:before {
    content: url(../images/wave.gif);
    position: absolute;
    top: 90px;
    left: 50%;
    margin-left: -45px;
}

/* 歌单名字 */
.sheet-name {
    /*padding: 0 5px;*/
    display: inline-block;
    max-width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
}
/* 播放列表分割标题栏 */
.sheet-title-bar {
    border-radius: 2px;
    margin: 20px 0;
    text-align: center;
    line-height: 40px;
    height: 40px;
    color: #C5C5C5;
    background-color: rgba(0, 0, 0, 0.12);
}
.login-btn {
    cursor: pointer;
}
.login-btn:hover {
    color: #31c27c;
}

/* 以下是界面右侧 css 样式 */
/* 播放器主体(歌词和封面) */
.player {
    height: 100%;
    width: 400px;
    float: right;
    position: relative;
}

/* 歌曲封面区域 */
.cover {
    position: relative;
    display: block;
    width: 186px;
    height: 186px;
    margin: auto;
}

.cover:after {
    content: "";
    position: absolute;
    left: 9px;
    top: 0;
    width: 201px;
    height: 180px;
    background: url(../images/album_cover_player.png) 0 0 no-repeat;
    pointer-events: none;
}
/* 歌曲封面图片 */
.music-cover {
    vertical-align: middle;
    width: 186px;
    height: 186px;
}

/* 歌词显示区域 */
.lyric {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 195px;
    bottom: 10px;
    overflow: hidden;
    text-align: center;
    color: #bdbdbe;
    color: rgba(225,225,225,.8);
    line-height: 28px;
    padding: 20px 0;
}
/* 歌词ul */
#lyric {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    overflow: hidden;
}
#lyric>li {
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* 正在播放的那一句歌词 */
#lyric .lplaying {
    color: #31c27c;
}
/* 歌词显示区显示的提示语(如加载中、无歌词等) */
.lyric-tip {
    position: absolute;
    width: 100%;
    top: 50%;
}

/* 歌曲信息按钮 */
#music-info {
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    position: absolute;
    width: 27px;
    height: 26px;
    border-radius: 13px;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    line-height: 26px;
    font-weight: bold;
    background-image: url(../images/player.png);
    background-position: -28px -367px;
    background-color: #353535;
    opacity: 0.3;
    filter: Alpha(opacity=30);
}
#music-info:hover {
    opacity: 1;
    filter: Alpha(opacity=100);
}
/* 标题 */
.info-title {
    color: #B2AFAF
}
.info-btn {
    cursor: pointer;
    color: #31c27c;
}
.info-btn:hover {
    text-decoration: underline;
}
/* 底部 */
.footer {
    height: 100px;
    bottom: 0;
    width: 100%;
    position: absolute;
}

/* 带图片的按钮 */
.player-btn {
    background-image: url("../images/player.png");
    opacity: .8;
    filter: alpha(opacity=80)
}
.player-btn:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}
/* 暂停状态 */
.btn-state-paused {
    background-position: -30px 0;
}
/* 控制按钮(上一首、播放、下一首)区域 */
.con-btn {
    float: left;
    width: 130px;
    height: 100%;
    position: relative;
    margin: 0 10px;
}
.con-btn a{
    display: inline-block;
    position: absolute;
    top: 50%;
}
.btn-prev{
    background-position: 0 -30px;
    width: 19px;
    height: 20px;
    margin-top: -10px;
}

.btn-play{
    width: 21px;
    height: 29px;
    margin-top: -14.5px;
    left: 50%;
    margin-left: -10.5px;
}
.btn-next{
    background-position: 0 -52px;
    right: 0;
    width: 19px;
    height: 20px;
    margin-top: -10px;
}

/* 音乐进度条区域 */
.progress {
    width: auto;
    margin-left: 150px;
    margin-right: 200px;
    height: 100%;
    position: relative;
}

/* 限制进度条的盒子 */
.progress-box {
    position: absolute;
    height: 20px;
    left: 10px;
    right: 0;
    top: 50%;
    margin-top: -10px;
}

/* 音量控制区域 */
.vol {
    float: right;
    width: 200px;
    height: 100%;
    right: 0;
    position: relative;
}

.quiet {
    width: 60px;
    height: 100%;
    position: relative;
    float: left;
}
.btn-quiet{
    display: inline-block;
    position: absolute;
    width: 26px;
    height: 21px;
    top: 50%;
    right: 0;
    margin-top: -10px;
    background-position: 0 -144px;
}
.btn-state-quiet {
    background-position: 0 -182px;
}
.volume {
    position: relative;
    margin-left: 60px;
    height: 100%;
    overflow: hidden;
}
/* 限制声音进度条的盒子 */
.volume-box {
    position: absolute;
    height: 20px;
    left: 10px;
    right: 10px;
    top: 50%;
    margin-top: -10px;
}

/* 以下是孟坤进度条控件样式区域 */
/* 进度条可点击区域 */
.mkpgb-area {
    position: relative;
    cursor: pointer;
    height: 100%;
}
/* 进度条有背景区域 */
.mkpgb-bar {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px; 
    margin-top: -1px; 
    border-radius: 2px;
    background-color: #808284;
    overflow: hidden;
}
/* 进度条已完成区域 */
.mkpgb-cur {
    position: absolute;
    background-color: #D8D8D8; 
    width: 0; 
    height: 2px; 
    top: 50%;
    margin-top: -1px; 
    border-radius: 2px;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
}
/* 进度条小点 */
.mkpgb-dot {
    width: 10px; 
    height: 10px; 
    background-color: #fff; 
    border-radius: 5px; 
    overflow: hidden; 
    position: absolute; 
    left: 0px; 
    margin-left: -5px; 
    top: 50%; 
    margin-top: -5px;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
}
/* 进度条禁止点击样式 */
.mkpgb-locked {
    cursor: default;
}

/* 闪动效果作者：qiuye */
.dot-move {
    -webkit-box-shadow: 0 0 20px #fff;
    -moz-animation: dot-move 3s linear 2s infinite;
    -webkit-animation: dot-move 3s linear 2s infinite;
    -o-animation: dot-move 3s linear 2s infinite;
    -ms-animation: dot-move 3s linear 2s infinite;
}
@-webkit-keyframes dot-move{0%{-webkit-box-shadow: 0 0 20px #fff;}25%{-webkit-box-shadow: 0 0 10px #fff;}50%{-webkit-box-shadow: 0 0 0px #fff;}75%{-webkit-box-shadow: 0 0 10px #fff;}100%{-webkit-box-shadow: 0 0 20px #fff;}}
@keyframes dot-move{0%{-webkit-box-shadow: 0 0 10px #363333;}25%{-webkit-box-shadow: 0 0 7px #363333;}50%{-webkit-box-shadow: 0 0 0px #fff;}75%{-webkit-box-shadow: 0 0 6px #fff;}100%{-webkit-box-shadow: 0 0 10px #363333;}}
